<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CheckConnection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <userSettings>
    <CheckConnection.Properties.Settings>
      <setting name="DBConnectionString" serializeAs="String">
        <value>Connections.db</value>
      </setting>
      <setting name="IPAddress" serializeAs="String">
        <value>192.168.0.10</value>
      </setting>
      <setting name="SubnetMask" serializeAs="String">
        <value>255.255.254.0</value>
      </setting>
      <setting name="Gateway" serializeAs="String">
        <value>192.168.0.1</value>
      </setting>
      <setting name="HistoryPageSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RouterDeafultIpAddress" serializeAs="String">
        <value>192.168.0.1</value>
      </setting>
      <setting name="ProviderDefaultAddress" serializeAs="String">
        <value>akado.ru</value>
      </setting>
      <setting name="AkadoDNS" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>217.10.36.5</string>
            <string>217.10.35.5</string>
            <string>217.10.44.35</string>
            <string>217.10.32.5</string>
            <string>217.10.32.4</string>
            <string>217.10.39.4</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="WorkingNetwork" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>10.1</string>
            <string>10.127</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TestNetwork" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>10.128</string>
            <string>10.255</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ExceptionConnName" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>virtual</string>
            <string>hamachi</string>
            <string>1394</string>
          </ArrayOfString>
        </value>
      </setting>
    </CheckConnection.Properties.Settings>
  </userSettings>
</configuration>